@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.aqsa-body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aqsa-body {
    --color-pink: #feecea;
    --color-white: #fff;
    --color-black: #333;
    --color-text-pink: #FF7882;
    --color-heart: #FF7882;
    --color-bg-letter: #fff8e4;
    --color-border: #DACCBF;

    position: relative;
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: linear-gradient(var(--color-pink), var(--color-pink));
    overflow: hidden;
    color: #333;
    /* Default text color in aqsa-body */
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    position: relative;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 1) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 80px 80px;
    overflow: hidden;
    z-index: 1;
}

.flag__birthday {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    /* Added padding to prevent edge clipping */
    transform: translateY(-200px);
    animation: translateYFlag 1.5s 0.5s forwards;
    /* faster start */
}

@keyframes translateYFlag {
    to {
        transform: translateY(-10px);
    }
}

.flag__birthday .flag__left {
    transform: rotate(-10deg) translate(-20px, 30px);
    width: 350px;
}

.flag__birthday .flag__right {
    transform: rotate(10deg) translate(20px, 30px) scaleX(-1);
    width: 350px;
}

.content {
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 3rem;
    height: calc(100vh - 200px);
    /* Adjust for flags */
}

.content .left,
.content .right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .left {
    width: 40%;
}

.content .right {
    width: 60%;
}

.left .btn {
    transform: scale(0);
    animation: scaleCricle 2s 8s forwards ease-in-out;
    /* Adjusted delay */
}

#btn__letter {
    position: relative;
    margin-top: 30px;
    background-color: var(--color-text-pink);
    outline: none;
    padding: 10px 25px;
    /* increased padding */
    font-size: 1rem;
    border-radius: 50px;
    border: 3px solid var(--color-black);
    font-family: "Sriracha", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

#btn__letter:active {
    transform: scale(0.7);
}

#btn__letter i {
    margin-left: 5px;
}

#btn__letter:hover {
    border-color: var(--color-heart);
    background-color: var(--color-heart);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn__letter:hover i {
    animation: rotateHeart 1s infinite linear;
}

@keyframes rotateHeart {

    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(12deg);
    }

    75% {
        transform: rotate(-12deg);
    }
}

.title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Titan One", sans-serif;
    font-size: 3rem;
    flex-direction: column;
    perspective: 1000px;
    z-index: 5;
    /* Ensure title is above bg */
}

.title .happy,
.title .birthday {
    position: relative;
    text-shadow: 4px 4px var(--color-black), -4px 4px var(--color-black), 4px -4px var(--color-black), -4px -4px var(--color-black), 4px 8px 0 var(--color-black);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.title .happy {
    color: var(--color-white);
}

.title .happy span,
.title .birthday span {
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    animation: txtTranslateY .5s var(--t) forwards;
    display: inline-block;
    padding: 0 5px;
}

@keyframes txtTranslateY {
    100% {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.title .birthday {
    color: var(--color-text-pink);
}

.title .hat {
    position: absolute;
    right: 45px;
    top: -350px;
    transform: rotate(-40deg);
    z-index: -1;
    animation: topHat 4s 3s forwards ease;
    /* Adjusted delay */
}

@keyframes topHat {

    20%,
    30% {
        top: -30px;
        transform-origin: left;
        transform: rotate(-40deg);
    }

    35%,
    100% {
        top: -30px;
        transform: rotate(0deg);
    }
}

.date__of__birth,
.name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-text-pink);
    border-radius: 50px;
    margin-top: 20px;
    font-family: "Sriracha", cursive;
}

.date__of__birth {
    border: 3px solid var(--color-black);
    position: relative;
    transform: translateY(-100px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    animation: dateOfBirth 5s 4s forwards;
    /* Adjusted delay */
    padding: 10px 0;
    /* Fallback padding */
    height: 50px;
}

@keyframes dateOfBirth {

    20%,
    40% {
        width: 0px;
        height: 0;
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }

    45% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
        width: 300px;
        height: 0px;
    }

    50%,
    100% {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
        width: 300px;
        height: 50px;
    }
}

.name {
    position: absolute;
    padding: 0px 20px;
    bottom: -20px;
    border: 3px solid var(--color-black);
    font-family: 'Dancing Script', cursive;
    background-color: white;
    /* Name needs background */
    z-index: 20;
}

.date__of__birth span,
.name span {
    font-weight: bold;
    margin: 0px 10px;
}

.right .box__account {
    position: relative;
    transform: translateY(700px);
    animation: topBoxImage 3s 3s forwards ease-in;
    /* faster */
}

@keyframes topBoxImage {
    to {
        transform: translateY(0);
    }
}

.content .right .image {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 6px solid var(--color-black);
    background: white;
}

.content .right .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cricle {
    position: absolute;
    top: 20px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    animation: scaleCricle 3s 7s forwards ease-in-out;
}

@keyframes scaleCricle {
    0% {
        transform: scale(0);
    }

    10% {
        transform: scale(1.3);
    }

    20% {
        transform: scale(0.7);
    }

    30%,
    100% {
        transform: scale(1);
    }
}

.text__cricle {
    width: 100px;
    height: 100px;
    background-color: var(--color-text-pink);
    border-radius: 50%;
    border: 5px solid var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateCricle 5s linear infinite;
    position: relative;
}

@keyframes rotateCricle {
    to {
        transform: rotate(360deg);
    }
}

.text__cricle span {
    position: absolute;
    left: 50%;
    top: 0;
    color: var(--color-black);
    transform-origin: 0 45px;
    /* Half of circle minus padding */
    font-family: "Sriracha", cursive;
    text-transform: uppercase;
    font-size: 0.7rem;
    height: 50%;
    /* extend to center */
}

.fa-heart {
    color: var(--color-heart);
    filter: drop-shadow(0 0 3px var(--color-heart));
    animation: scaleHeart 1s infinite linear;
}

.cricle .fa-heart {
    position: absolute;
    transform: scale(0.85);
}

@keyframes scaleHeart {
    50% {
        transform: scale(1.2);
    }
}

/* Balloons */
.right .balloon_one {
    position: absolute;
    top: -70px;
    left: -70px;
    animation: balloon1 2s infinite linear;
}

.right .balloon_two {
    position: absolute;
    top: 170px;
    right: -65px;
    z-index: -1;
    transform: rotate(10deg);
    animation: balloon2 2s infinite linear;
}

@keyframes balloon1 {

    0%,
    50%,
    100% {
        transform-origin: bottom right;
        transform: rotate(0deg);
    }

    25% {
        transform-origin: bottom right;
        transform: rotate(3deg);
    }

    75% {
        transform-origin: bottom right;
        transform: rotate(-3deg);
    }
}

@keyframes balloon2 {

    0%,
    50%,
    100% {
        transform-origin: bottom left;
        transform: rotate(10deg);
    }

    25% {
        transform-origin: bottom left;
        transform: rotate(7deg);
    }

    75% {
        transform-origin: bottom left;
        transform: rotate(13deg);
    }
}

/* Decorations */
.decorate_star {
    position: absolute;
    transform: scale(0);
    background-color: var(--color-black);
    clip-path: polygon(0 50%, 35% 35%, 50% 0, 65% 35%, 100% 50%, 65% 65%, 50% 100%, 35% 65%);
    animation: scaleCricle 3s var(--t) forwards, scaleStar 2s 16s infinite ease-in-out;
}

.decorate_star.star1 {
    width: 20px;
    height: 20px;
    top: 75px;
    left: 300px;
}

.decorate_star.star2 {
    width: 15px;
    height: 20px;
    top: 35px;
    right: 360px;
}

.decorate_star.star3 {
    width: 14px;
    height: 14px;
    top: 290px;
    left: 630px;
}

.decorate_star.star4 {
    width: 18px;
    height: 18px;
    bottom: 60px;
    left: 35px;
}

.decorate_star.star5 {
    width: 16px;
    height: 18px;
    bottom: 140px;
    left: 500px;
}

@keyframes scaleStar {
    25% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.1);
    }
}

.decorate_bottom {
    position: absolute;
    right: 0;
    bottom: -10px;
}

.decorate_flower--one {
    position: absolute;
    top: 250px;
    left: 50px;
    transform: scale(0);
    animation: scaleCricle 3s 7s forwards ease-in-out;
}

.decorate_flower--two {
    position: absolute;
    top: 225px;
    left: 540px;
    transform: scale(0);
    animation: scaleCricle 3s 7s forwards ease-in-out;
}

.decorate_flower--three {
    position: absolute;
    top: 150px;
    right: 235px;
    transform: scale(0);
    animation: scaleCricle 3s 7s forwards ease-in-out;
}

.smiley__icon {
    position: absolute;
    bottom: 180px;
    left: 600px;
    transform: scale(0);
    animation: scaleCricle 3s 7s forwards ease-in-out;
}

/* Box Mail (Modal) */
.boxMail {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxMail-container {
    width: 800px;
    height: 500px;
    background-color: #feecea;
    border-radius: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.card1,
.card2 {
    width: 50%;
    padding: 20px;
    position: relative;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px dashed #DACCBF;
}

.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #333;
    margin-bottom: 20px;
}

.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.imageCute img {
    width: 150px;
}

.card2-content {
    font-family: 'Sriracha', cursive;
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.card2 h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card2 h2 {
    font-size: 1rem;
    line-height: 1.6;
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: #FF7882;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}